<ion-view view-title="Hesap">
  <ion-content>
     <div class="row">
         <div class="col-100 profile-header">
             <div class="profile-image">
                 <img src="../img/photo-null.jpg" alt="">
             </div>
             <div style="margin-left:8px"> 
                 <a href="#" style="color:#fff;text-decoration:none;font-weight:400;">
                     Jhon Due
                     <i class="icon ion-arrow-down-b"></i>
                </a>
             </div>
         </div>
     </div>
     <div class="list">
         <div class="item">
              <div ng-click="">
                  <i class="icon ion-ios-play"></i> 
                  Videolarim
              </div>
         </div>
         <div class="item">
              <div ng-click="">
                  <i class="icon ion-android-notifications"></i> 
                  Bildirimler
              </div>
         </div>
     </div>
     
  </ion-content>
</ion-view>
